<div class="container mt-3">
  <div class="row g-2">
        <div class="col-6">
            <div class="p-3 border bg-light">            
                <h1 class="fw-bold">Last Launch</h1>
                <p><span class="fw-bold">Name:</span> <%= @latest['name'] %></p>
                <p><span class="fw-bold">Date:</span> <%= formatter_simple_date(@latest['date_local']) %></p>   
                <p><span class="fw-bold">Details:</span> <%= @latest['details'] %></p>                         
            </div>               
        </div>
        
        <div class="col-6">
            <div class="p-3 border bg-light">
                <h1 class="fw-bold">Next Launch</h1>
                <p><span class="fw-bold">Name:</span> <%= @next['name'] %></p>
                <p><span class="fw-bold">Date:</span> <%= formatter_simple_date(@next['date_local']) %></p>
                <p><span class="fw-bold">Details:</span> <%= @next['details'] %></p>
            </div>
        </div>

        <div class="col-6"> 
            <div class="p-3 border bg-light">
                <h3 class="fw-bold">Pastes Launches</h3>
               <table class="table">
               <thead>
                   <tr>
                   <th scope="col">Flight Number</th>
                   <th scope="col">Name</th>
                   <th scope="col">Lanch Date</th>
                   </tr>
               </thead>
               <tbody>
               <% @past['docs'].each do |launch| %>                   
                   <tr>
                      <% launch.except("id").each do |property, value| %>                    
                         <td><%= (property != "date_local") ? value : formatter_simple_date(value) %></td>
                       <% end %>                    
                   </tr>
                 <% end %>                    
               </tbody>
               </table>
            </div>
        </div>
    
         <div class="col-6"> 
            <div class="p-3 border bg-light">
                <h3 class="fw-bold">Upcoming Launches</h3>
               <table class="table">
               <thead>
                   <tr>
                   <th scope="col">Flight Number</th>
                   <th scope="col">Name</th>
                   <th scope="col">Upcoming Date</th>
                   </tr>
               </thead>
               <tbody>
               <% @upcoming['docs'].each do |launch| %>                  
                   <tr>
                      <% launch.except("id").each do |property, value| %>                    
                         <td><%= (property != "date_local") ? value : formatter_simple_date(value) %></td>
                       <% end %>                    
                   </tr>
                 <% end %>
            </div>
        </div>

    </div>
</div>